*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    background-image: url("sign_up-pg-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: "Montserrat";
}
.nav-colour{
    color: white;
    /* background-image: linear-gradient(rgb(29, 170, 170), rgb(8, 70, 70)) !important; */
    background-image:linear-gradient( rgb(16, 212, 193), rgb(28, 168, 154), rgb(12, 117, 107) )!important;
    /* background-image:linear-gradient(#55bce9,#0c6d97) !important; */
} 
.navbar-brand{
	font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* .overlay{
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
} */
.bg-color{
    background-color: white;
    border-radius: 20px;
}
.bg-decor{
    border-radius: 20px;
}
.form-container{
    padding: 30px 40px;
}
h4{
    margin-top: 10px;
}
h6{
    margin-bottom: 40px;
    font-size: 12px;
    color: rgb(112, 111, 111);
}
.label{
    font-size: 12px;
    font-weight: 500;
}
.form-control{
    background: transparent;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    font-size: 9.8px;
    padding: 10px;
}
input [type="checkbox"]{
    height: 15px;
    width: 15px;
}
small{
   font-size: 10px;
}
.box{
    padding: 30px 40px;
    text-decoration: none;
    background-image: url("sign_up-pg-bg.jpg");
}